<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC Burgers fast!</title>
		<script src="https://code.jquery.com/jquery.js"></script>

		{{!--  CHECK  js  LINK --}}
		<script src="/assets/js/burgers.js"></script>
		<script src="/assets/css/style.css"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>